{% extends 'main.html' %}

{% block content%}
<div class="w-25 mx-auto mt-5">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> Provide Your details</h5>
          {% if form.errors%}
            <p>There were errors in your form</p>
          {% endif %}
          <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address:</label>
              <input type="text" class="form-control" name="username" >
              
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password:</label>
              <input type="password" class="form-control" name="password">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
</div>
{% endblock %}