

<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Mulati Brian</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
          </li>
          
        </ul>
        
       <div class="d-flex items-center justify-content-between">
        <div class="mx-3 hover-overlay">
          <span class="navbar-text"><i class="fa-brands fa-github"></i>
          </span>
       </div>
       <div class="mx-3 hover-overlay">
         <span class="navbar-text"><i class="fa-brands fa-twitter"></i>
      </div>
      <div class="mx-3 hover-overlay">
       <span class="navbar-text"><i class="fa-brands fa-linkedin"></i>
       </span>
       <div class="mx-3 hover-overlay">
         <a href="{% url 'login' %}" class="nav-link text-white">Login</a>
       </div>
       </div>
     </div>
      </div>
    </div>
  </nav>